<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.ssm.dao.CommonMapper">

    <resultMap id="systemParamMap" type="cn.com.zjw.ssm.enetity.SystemParam">
        <id column="CODE_ID" property="codeId" jdbcType="INTEGER"/>
        <id column="CODE_TYPE" property="codeType" jdbcType="VARCHAR"/>
        <result column="CODE_VALUE" property="codeValue" jdbcType="VARCHAR"/>
        <result column="CODE_DESC" property="codeDesc" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="languages" resultMap="systemParamMap">
        SELECT
            code_id,
            code_type,
            code_value,
            code_desc
        FROM
            t_system_param
        WHERE
            code_type = #{codeType}
        ORDER BY
            code_id
    </select>
</mapper>