.imgForm {
    background-image:url(/images/login_midtopbg.png);
    width: 553px;
    height: 210px;
    margin: 0 auto;
}
label {
    color: #303030;
    opacity: 0.6;
}
.inputDiv {
    width: 400px;
    height: 35px;
    text-align: right;
}
.loginName {
    padding-top: 30px;
}
input {
    border-radius: 9px;
}
.btn {
    width: 100px;
    margin: 0 auto;
    height: 25px;
    padding-top: 10px;
}
.imgDiv {
    width: 505px;
    height: 250px;
    margin: 0 auto;
    padding-top: 10%;
}
.msg {
    color: red;
    font-size: 15px;
    text-align: center;
}
.language {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    height: 25px;
}